 .background {
    background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3C!--%20Created%20with%20Inkscape%20(http%3A%2F%2Fwww.inkscape.org%2F)%20--%3E%0A%0A%3Csvg%0A%20%20%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%0A%20%20%20xmlns%3Acc%3D%22http%3A%2F%2Fcreativecommons.org%2Fns%23%22%0A%20%20%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%0A%20%20%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0A%20%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0A%20%20%20xmlns%3Asodipodi%3D%22http%3A%2F%2Fsodipodi.sourceforge.net%2FDTD%2Fsodipodi-0.dtd%22%0A%20%20%20xmlns%3Ainkscape%3D%22http%3A%2F%2Fwww.inkscape.org%2Fnamespaces%2Finkscape%22%0A%20%20%20width%3D%22210mm%22%0A%20%20%20height%3D%22297mm%22%0A%20%20%20viewBox%3D%220%200%20210%20297%22%0A%20%20%20version%3D%221.1%22%0A%20%20%20id%3D%22svg8%22%0A%20%20%20inkscape%3Aversion%3D%220.92.4%20(5da689c313%2C%202019-01-14)%22%0A%20%20%20sodipodi%3Adocname%3D%22Intro.svg%22%3E%0A%20%20%3Cdefs%0A%20%20%20%20%20id%3D%22defs2%22%20%2F%3E%0A%20%20%3Csodipodi%3Anamedview%0A%20%20%20%20%20id%3D%22base%22%0A%20%20%20%20%20pagecolor%3D%22%23ffffff%22%0A%20%20%20%20%20bordercolor%3D%22%23666666%22%0A%20%20%20%20%20borderopacity%3D%221.0%22%0A%20%20%20%20%20inkscape%3Apageopacity%3D%220.0%22%0A%20%20%20%20%20inkscape%3Apageshadow%3D%222%22%0A%20%20%20%20%20inkscape%3Azoom%3D%220.7%22%0A%20%20%20%20%20inkscape%3Acx%3D%22302.28819%22%0A%20%20%20%20%20inkscape%3Acy%3D%22555.04679%22%0A%20%20%20%20%20inkscape%3Adocument-units%3D%22mm%22%0A%20%20%20%20%20inkscape%3Acurrent-layer%3D%22layer1%22%0A%20%20%20%20%20showgrid%3D%22false%22%0A%20%20%20%20%20inkscape%3Awindow-width%3D%221813%22%0A%20%20%20%20%20inkscape%3Awindow-height%3D%221051%22%0A%20%20%20%20%20inkscape%3Awindow-x%3D%2298%22%0A%20%20%20%20%20inkscape%3Awindow-y%3D%22-9%22%0A%20%20%20%20%20inkscape%3Awindow-maximized%3D%221%22%20%2F%3E%0A%20%20%3Cmetadata%0A%20%20%20%20%20id%3D%22metadata5%22%3E%0A%20%20%20%20%3Crdf%3ARDF%3E%0A%20%20%20%20%20%20%3Ccc%3AWork%0A%20%20%20%20%20%20%20%20%20rdf%3Aabout%3D%22%22%3E%0A%20%20%20%20%20%20%20%20%3Cdc%3Aformat%3Eimage%2Fsvg%2Bxml%3C%2Fdc%3Aformat%3E%0A%20%20%20%20%20%20%20%20%3Cdc%3Atype%0A%20%20%20%20%20%20%20%20%20%20%20rdf%3Aresource%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Fdcmitype%2FStillImage%22%20%2F%3E%0A%20%20%20%20%20%20%20%20%3Cdc%3Atitle%3E%3C%2Fdc%3Atitle%3E%0A%20%20%20%20%20%20%3C%2Fcc%3AWork%3E%0A%20%20%20%20%3C%2Frdf%3ARDF%3E%0A%20%20%3C%2Fmetadata%3E%0A%20%20%3Cg%0A%20%20%20%20%20inkscape%3Alabel%3D%22Layer%201%22%0A%20%20%20%20%20inkscape%3Agroupmode%3D%22layer%22%0A%20%20%20%20%20id%3D%22layer1%22%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20style%3D%22fill%3A%2318b3ff%3Bstroke%3A%2390d1f0%3Bstroke-width%3A0%3Bstroke-linecap%3Abutt%3Bstroke-linejoin%3Amiter%3Bstroke-opacity%3A0%3Bfill-opacity%3A0.84079599%3Bstroke-miterlimit%3A4%3Bstroke-dasharray%3Anone%22%0A%20%20%20%20%20%20%20d%3D%22M%200%2C-0.08928571%200.75595238%2C298.51191%20H%20212.42262%20L%20210.15476%2C139.7619%20C%2099.840498%2C207.23029%2022.368949%2C171.85984%200%2C-0.08928571%20Z%22%0A%20%20%20%20%20%20%20id%3D%22path815%22%0A%20%20%20%20%20%20%20inkscape%3Aconnector-curvature%3D%220%22%0A%20%20%20%20%20%20%20sodipodi%3Anodetypes%3D%22ccccc%22%20%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
    background-repeat: no-repeat;
    height: 100vh;
    background-size:cover;
 }

.positionImg{
  position: relative;
    top: 20vh;
    right: -10vh;
    width: 80vw;
    height: auto; 
}

.positionButton{
   position: absolute;
    bottom: 20vh;
    border-radius: 40px;
    box-sizing: border-box;
}


@media only screen and (width:375px) {
   
    .positionImg{
        position: relative;
        top: 20vh;
        right: -9vh;
        width: 80vw;
        height: auto; 
    }
    .positionButton{
        position: absolute;
         bottom: 20vh;
         border-radius: 40px;
         box-sizing: border-box;
     }
 }

 @media only screen and (min-width: 595px) {
    .background{
        background-position: center;
    }
    .positionButton{
        position: absolute;
         bottom: 20vh;
         border-radius: 40px;
         box-sizing: border-box;
     }
 }

 /* Extra large devices (large laptops and desktops, 1200px and up) */
 
 @media only screen and (min-width: 988px) {
    .background{
        background-position: center;
    }
    .positionImg{
        position: relative;
        top: 20vh;
        right: -20vh;
        width: 70vw;
        height: auto; 
    }
    .positionButton{
        position: absolute;
         bottom: 20vh;
         border-radius: 40px;
      
     }
 }

 @media only screen and (min-width: 1200px) {
    .background{
        background-position: center;
    }
    .positionImg{
        position: relative;
        top: 20vh;
        right: -46vh;
        width: 55vw;
        height: auto; 
    }
    .positionButton{
        position: absolute;
         bottom: 18vh;
         border-radius: 40px;
        
     }
 }


 @media only screen and (min-width: 1900px) {
    .background{
        background-position: center;
    }
    .positionImg{
        position: relative;
        top: 20vh;
        right: -58vh;
        width: 50vw;
        height: auto; 
    }
    .positionButton{
         position: absolute;
         bottom: 20vh;
         border-radius: 40px;
        
         font-size: 5rem;
     }
     .font{
         font-size: 5rem;
     }

     .row{
         margin-right: 3rem;
         margin-left: 3rem;
     }
     
 }
